* {
  box-sizing: border-box;
}

body {
  color: #8491a5;
  font-family: "AvenirNext", "Lato", "Hirago KakuGothic ProN", Meiryo, sans-serif;
  font-size: 1rem;
  background-color: #f8fbfe;
}

a {
  text-decoration: none;
  color: #1c3746;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2b546a;
  font-weight: normal;
}

#container {
  background-color: #f8fbfe;
}

.btn {
  display: inline-block;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
  color: rgb(255, 255, 255);
  background-color: rgb(48, 200, 214);
  font-size: 0.75rem;
  min-width: 110px;
  line-height: 40px;
  font-family: AvenirNext, Lato, "Hirago KakuGothic ProN", Meiryo, sans-serif;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 0.02em;
}

.btn:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(35, 164, 176);
}

.c-btn {
  transition: all 0.3s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  display: inline-block;
  margin-bottom: 0;
  padding: 0;
  font-size: 0.8125rem;
  text-align: center;
  min-width: 140px;
  height: 45px;
  line-height: 45px;
  white-space: nowrap;
  cursor: pointer;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 2px;
}

.c-btn--feedback {
  background-color: #ff577b;
  border-radius: 3px 3px 0 0;
  font-size: 0.725rem;
  min-width: 120px;
  height: 34px;
  line-height: 34px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  z-index: 81;
  position: fixed;
  bottom: 0;
  right: 12px;
}

.u-mr5 {
  margin-right: 5px;
}

/* ヘッター */

header li {
  line-height: 48px;
  margin: 0 10px;
  font-size: 14px;
}

.h-left li:hover,
.active {
  box-shadow: inset 0 -3px 0 0 #30c8d6;
}

header {
  background-color: white;
  overflow: hidden;
  border-bottom: 2px solid #e6eaee !important;
}

.h-left {
  float: left;
  display: flex;
}

.h-right {
  float: right;
  display: flex;
}

.search-box {
  position: relative;
}

.input-search {
  transition: border 0.1s linear, background-color 0.1s linear;
  width: 100%;
  height: 32px;
  padding: 5px 5px 5px 25px;
  color: #2b546a;
  background-color: #f7f9fc;
  border: 1px solid #d9e0e7;
  border-radius: 5px;
  letter-spacing: 0.02em;
  width: 100px;
}

.search-icon {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 7px;
  transform: translateY(-50%);
}

.h-right .no-btn:hover {
  background-color: #f0f5fd;
  color: #2b546a;
}
.menu-icon-bar,
.menu-icon-sign-in {
  display: none;
}

.menu-open #container {
  transform: translate(280px);
  transition: all 0.5s;
}

.mobile-menu,
.category-menu {
  height: 100vh;
  background-color: #2e3944;
  width: 280px;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.5s;
  display: none;
}

.menu-open .category-menu {
  display: block;
}

.fa-times {
  display: block;
  color: white;
  position: absolute;
  top: 20px;
  left: 250px;
}

.mobile-menu__main,
.category-menu__main {
  margin-top: 40px;
}

.mobile-menu__main .category-menu__main {
  margin: 0;
  display: none;
}

.mobile-menu__main .dropDown {
  display: block;
}

.mobile-menu__link,
.category__title,
.category-menu__link {
  transition: all 0.2s ease;
  display: block;
  color: #fff;
  padding: 10px;
  line-height: 30px;
  letter-spacing: 0.1em;
}

.category-menu__link {
  padding-left: 20px;
  text-decoration: underline;
}

.category-menu__item .category__title::after,
.mobile-menu .mobile-menu__item:nth-child(4) .mobile-main__title::after,
.mobile-menu .mobile-menu__item:nth-child(5) .mobile-main__title::after {
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
}

.category-menu__item .category__title,
.mobile-menu .mobile-menu__item:nth-child(4) .mobile-main__title,
.mobile-menu .mobile-menu__item:nth-child(5) .mobile-main__title {
  display: flex;
  justify-content: space-between;
}

.category-menu__item .category__title.dropDown::after,
.mobile-menu .dropDown .mobile-main__title::after {
  transform: rotate(180deg);
}

.category-menu__item > ul,
.mobile-search {
  display: none;
}

.sub-category-menu__main.dropDown,
.mobile-search.dropDown {
  display: block;
}

.mobile-menu__link:hover,
.category-menu__link:hover,
.category__title:hover {
  background-color: #242c35;
  border-radius: 5px;
}

/* 以降　メインセクション */
/* トップページ */

.main-container {
  max-width: 1000px;
  margin: 0 auto;
}

/*　introduction セクション */

.introduction {
  display: flex;
  padding: 64px 0;
  background-color: rgb(48, 200, 214);
  text-align: center;
}

.about-g-up h1 {
  font-size: 48px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: white;
}

.about-g-up p {
  color: white;
  margin-bottom: 30px;
  line-height: 2;
}

.btn-green {
  color: white;
  border: 2px solid white;
  text-align: center;
  font-weight: bold;
  display: inline-block;
}

.btn-block {
   margin-bottom: 15px;
}


.btn-orange {
  color: white;
  background-color: orange;
  text-align: center;
  font-weight: bold;
  display: inline-block;
}

.btn-orange:hover {
  background-color: rgb(255, 145, 0);
}

/*　contents&another-functionsセクションの共通 */

.headline {
  text-align: center;
}

.headline h2 {
  font-weight: bold;
  font-size: 32px;
  margin-top: 40px;
}

.headline p {
  margin-top: 32px;
  line-height: 2;
}

.contents {
  display: flex;
  flex-wrap: wrap;
  margin: 32px auto 20px;
  justify-content: center;
}

.content-wrapper {
  width: 33.333333333%;
  padding: 0 12px;
}

.content {
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 2px 10px;
  transition: all 0.3s ease-in-out 0s;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 3px;
  height: 330px;
  margin: 0 auto 20px
}

.content:hover {
  box-shadow: rgba(0, 0, 0, 0.09) 0 3px 20px !important;
  transform: translate3d(0, -1px, 0);
}

.content h3 {
  padding-top: 32px;
  font-size: 20px;
}

.content img {
  width: 100px;
  padding: 30px 0;
  border-radius: 7px;
}

.content p {
  padding: 0 24px;
  padding-bottom: 32px;
  line-height: 2;
}

/*　contentsセクション*/

.btn-block {
  text-align: center;
}

/*　pushセクション*/

.push {
  background-color: white;
  text-align: center;
  padding: 64px;
}

.push h4 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
}

/*　footerセクション*/

footer {
  text-align: center;
  padding: 30px 0 !important;
}

/*　コンテンツ一覧*/
.c-all {
  height: 250px;
}

.contents-inner-block {
  display: flex;
  flex-wrap: wrap;
}

.contents-title h2 {
  margin: 15px 0;
  padding: 0 12px;
}

.h2-headline {
  margin-bottom: 30px;
}

/*　検索結果、よく読まれる、カテゴリー別リストページ*/
#list-global-container {
  margin: 0 auto;
  display: flex;
  padding: 20px 0;
}

.list-main-container {
  background-color: #ffffff;
  width: 66.66666667%;
  margin: 0 20px;
  padding: 40px;
}

.list-aside-container {
  background-color: #ffffff;
  width: 33.333333%;
  margin: 0 20px;
  padding: 40px 20px;
}

.entry-title {
  color: black;
  font-size: 30px;
  margin-bottom: 40px;
}

.item-category {
  color: #202124;
  font-size: 14px;
  margin-bottom: 7px;
}

.item-title {
  color: blue;
  font-size: 20px;
  margin-bottom: 7px;
  padding-bottom: 1px;
}

.description {
  font-size: 14px;
  margin-bottom: 40px;
}

.link-box:hover .ranking-headline {
  text-decoration: underline;
}

.item-title .ranking-order {
  margin-right: 10px;
}

.gold {
  color: gold;
}

.silver {
  color: silver;
}

.bronze {
  color: brown;
}

.list-aside-container .item-title {
  margin-bottom: 20px;
}

.related-page-block {
  margin-top: 30px;
}

/* 投稿ページ */
.p-date {
  font-size: 12px;
  margin: 15px 0;
  color: #bdbdbd;
  line-height: 18px;
}

.p-entry-title {
  font-size: 30px;
  line-height: 40px;
  color: #333;
  margin: 20px, 0;
  font-weight: bold;
}

.p-tag-name {
  font-size: 13px;
  line-height: 1em;
  color: #1a1a1a;
  display: inline-block;
  padding: 8px 8px;
  border-radius: 2px;
  text-decoration: none;
  background: #f3f3f3;
}

.p-tab-link:hover {
  opacity: 0.5;
}

.p-content h2 {
  background: #f7f7f7;
  padding: 20px 15px 18px;
  color: #333;
  border-left: 9px solid rgb(48, 200, 214);
  line-height: 40px;
  font-size: 25px;
  margin-bottom: 30px;
  line-height: 2;
}

.p-content h3,
.related-page-headline {
  background: #f7f7f7;
  letter-spacing: 1.6px;
  padding: 5px 15px;
  border-left: 9px solid rgb(48, 200, 214);
  color: #333;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 2;
}

.p-content h4 {
  font-size: 20px;
  color: #333;
  margin-bottom: 30px;
  line-height: 2;
}

.p-content h4::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  position: relative;
  left: -10px;
  color: rgb(48, 200, 214);
}

.p-content p {
  margin-bottom: 60px;
  font-size: 17px;
  color: #333;
  line-height: 2;
}

.p-content img {
  width: 100%;
  height: auto;
  margin: 30px 0;
}

.p-content .supplement {
  font-size: 16px;
  padding: 20px;
  background-color: #fafafa;
  outline: 1px solid #f0f0f0;
  border-color: #f0f0f0;
  text-align: left;
  margin: 40px;
  margin-bottom: 60px;
  margin-top: 15px;
}

/* カテゴリーサイドバー */

.global-sidebar {
  letter-spacing: 0.05rem;
  position: fixed;
  top: 48px;
  display: block;
  bottom: 0;
  border-right: 1px solid #ececec;
  z-index: 12;
  overflow: scroll;
  background-color: #fff;
}

.parent-ctg__main {
  margin-bottom: 10px;
}

/* マイページ */
.mypage_wrap {
  width: 100vw;
  padding: 25px;
}

.mypage_wrap h1 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #202124;
  margin: 15px;
}

.horizontal_scroll_wrap {
  max-width: 974px;
  height: 250px;
  background: #ffffff;
  white-space: nowrap;
  overflow-y: hidden;
  margin: auto;
  font-size: 14px;
  color: #202124;
  font-weight: bold;
}

.scroll_lst {
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 50px;
  margin: 25px 0 0;
  -webkit-overflow-scrolling: touch;
}

.scroll_item {
  margin-right: 10px;
  display: inline-block;
  width: 250px;
  border: 1px solid #ddd;
  background: #fff;
}

.scroll_item_thum p {
  margin: 10px 0 0 10px;
}

.scroll_item:first-child {
  margin-left: 10px;
}

.scroll_item_inr {
  display: block;
}
.scroll_item_info {
  white-space: normal;
  padding: 8px;
}
.scroll_item_ttl {
  font-size: 12px;
  color: #484848;
  line-height: 1.4;
  margin-bottom: 0;
}

.resign_button {
  max-width: 974px;
  margin: 25px auto;
  text-align: center;
}

/* ログインフォーム */
.user_login_wrap {
  width: 100vw;
  height: 400px;
  padding-top: 80px;
  text-align: center;
}

.user_wrap h1 {
  font-size: 25px;
  font-weight: bold;
  color: #202124;
}

.user_wrap h2 {
  font-size: 20px;
  color: #202124;
  margin-top: 15px;
  line-height: 1.6rem;
}

.user_form {
  max-width: 700px;
  height: 240px;
  text-align: center;
  vertical-align: middle;
  padding: 30px;
  margin: auto;
  display: inline-block;
}

.user_input_field {
  height: 50px;
  margin-top: 10px;
}

.user_error_message {
  font-size: 16px;
  height: 20px;
  margin-top: 2px;
  font-family: AvenirNext, Lato, "Hirago KakuGothic ProN", Meiryo, sans-serif;
  color: #ff0000;
}

#id_username,
#id_password,
#id_email,
#id_password2 {
  width: 300px;
  height: 35px;
  font-size: 100%;
  border-radius: 3px;
}

.user_button {
  margin-top: 25px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
  color: rgb(255, 255, 255);
  background-color: rgb(48, 200, 214);
  font-size: 1rem;
  min-width: 180px;
  line-height: 45px;
  font-family: AvenirNext, Lato, "Hirago KakuGothic ProN", Meiryo, sans-serif;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  letter-spacing: 0.02em;
}

.user_button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(35, 164, 176);
}

/* 新規登録フォーム */
.user_create_wrap {
  width: 100vw;
  height: 525px;
  padding-top: 80px;
  text-align: center;
}

/* 退会ページ用 */
.user_resign_wrap {
  width: 100%;
  height: 450px;
  padding-top: 80px;
  text-align: center;
}

.user_form ul {
  margin-top: 25px;
}

.user_form li {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5rem;
  color: #dd0000;
}

/* 退会完了ページ用 */
.user_resign_complete_wrap {
  width: 100vw;
  height: 350px;
  padding-top: 80px;
  text-align: center;
}

/* 以降、レスポンシブ */

@media (max-width: 980px) {
  .h-left,
  .h-right {
    display: none;
  }

  header {
    height: 48px;
    position: relative;
    overflow: visible;
  }

  .menu-icon-bar {
    display: block;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }

  .menu-icon-sign-in {
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }

  .mobile-menu__btn {
    border: none;
    outline: none !important;
    cursor: pointer;
    background-color: white;
  }

  .menu-open .mobile-menu {
    display: block;
  }

  .tooltip-login,
  .tooltip-create {
    position: relative;
    display: inline-block;
  }

  .tooltip-login .tooltiptext-login,
  .tooltip-create .tooltiptext-create {
    visibility: hidden;
    overflow: visible;
    width: 80px;
    font-size: 11px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 100000000;
    top: 150%;
    left: 50%;
    margin-left: -40px;
  }

  .tooltip-login .tooltiptext-login::after,
  .tooltip-create .tooltiptext-create::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }

  .tooltip-login:hover .tooltiptext-login,
  .tooltip-create:hover .tooltiptext-create {
    visibility: visible;
  }
  .fa-user-plus {
    margin-left: 15px;
    color: rgb(48, 200, 214);
  }

  #list-global-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
  }

  .list-main-container {
    width: 100%;
    padding: 20px;
    margin-left: 0;
  }

  .list-aside-container {
    width: 100%;
    margin-left: 0;
    padding: 20px;
  }
}

@media (max-width: 767px) {
  .about-g-up h1 {
    font-size: 25px;
    line-height: 1.5;
  }

  .about-g-up p,
  .headline p,
  .content p {
    font-size: 10px;
    line-height: 1.5;
  }

  .headline h2 {
    font-size: 20px;
  }

  .content h3 {
    font-size: 18px;
    padding: 5px;
    order: 2;
  }

  .push h4 {
    font-size: 20px;
  }

  .entry-title {
    font-size: 25px;
  }

  .content-wrapper {
    width: 100%;
  }

  .content {
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
  }

  .content img {
    width: 80px;
    height: 80px;
    padding: 0;
    order: 1;
    margin: 0 30px 0 20px;
  }

  .content h3 {
    position: relative;
  }

  /* Tooltip text */
  .content .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    right: 10px;
    width: 150px;
  }

  .content:hover .tooltiptext {
    visibility: visible;
  }

  .item-title {
    font-size: 18px;
  }

  .p-entry-title {
    font-size: 25px;
    line-height: 40px;
    color: #333;
    margin: 20px, 0;
  }

  .p-content h2 {
    padding: 20px 15px 18px;
    color: #333;
    line-height: 40px;
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 1.5;
  }
  /* ユーザー周り、レスポンシブ修正 */
  .mypage_wrap h1 {
    font-size: 20px;
    font-weight: bold;
    color: #202124;
    margin: 15px;
  }

  .horizontal_scroll_wrap {
    height: 230px;
    background: #ffffff;
    white-space: nowrap;
    overflow-y: hidden;
    margin: auto;
    font-size: 12px;
    color: #202124;
    font-weight: bold;
  }

  .horizontal_scroll_wrap img {
    height: 150px;
  }

  .user_wrap h2 {
    font-size: 15px;
    margin-top: 15px;
    line-height: 1.6rem;
  }

  .user_form h2 {
    font-size: 14px;
  }

  .user_form li {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5rem;
    color: #dd0000;
  }
}
