{% extends 'base.html' %}
{% load static %}


{% block customcss %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
{% endblock customcss %}



{% block main %}
<div id="list-global-container">
    <div class="list-main-container">
        <h2 class="entry-title">よく読まれている記事</h2>
        {% for item in object_list %}
        <div class="list-item">
            <div class="link-box">
                <a href="{% url 'save_history'  item.pk %}" class="link-item">
                    <div class="item-category">
                        カテゴリー：{{item.category}}
                    </div>
                    <h3 class="item-title"><span class="ranking-order"></span><span class="ranking-headline">{{item.title}}</span></h3>
                </a>
            </div>
            <div class="description">
                {{item.description}}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock main%}

